.seat {
    background-color: gray;
    color: white;
    margin: 3px;
    width: 45px;
    height: 45px;
}
.seated {
    background-color: red;
    cursor: no-drop;
}
.seating {
    background-color: yellowgreen;
}
